[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydub = "*"
pyinquirer = "*"
prompt-toolkit = "*"
pygments = "*"
pysimplegui = "*"
build = "*"
simpleaudio = "*"
pyinstaller = "*"

[dev-packages]
black = "*"
setuptools = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
